# ASPNETCORE Environment Settings
ASPNETCORE_ENVIRONMENT=Development/Production
PORT=8080

# Database Connection Details
SQLSERVER_PASSWORD=YOUR_PASSWORD
DB_CONNECTION_STRING=Server=sqlserver;Database=AirlineTicketDb;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;MultipleActiveResultSets=true;
REDIS_CONNECTION_STRING=YOUR_REDIS_CONNECTION_STRING

# CORS Allowed Origins
CORS_ORIGINS=http://localhost:3000

# AI Service Integration
AI_SERVICE_API_KEY=YOUR_AI_API_KEY
AI_SERVICE_BASE_URL=https://YOUR_AI_ENDPOINT/v1
AI_SERVICE_MODEL=YOUR_AI_MODEL
AI_SERVICE_MAX_TOKENS=16384
AI_SERVICE_TEMPERATURE=1
AI_SERVICE_TOP_P=0.95
AI_SERVICE_TIMEOUT_SECONDS=100
AI_SERVICE_ENABLE_THINKING=true
AI_SERVICE_REASONING_EFFORT=high

# MediatR LuckyPenny License Key
LUCKY_PENNY_MEDIATR_LICENSE_KEY=YOUR_MEDIATR_LICENSE_KEY

# OAuth Google
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
